@import url(./common.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
body {
    font-family:'Spoqa Han Sans Neo', 'sans-serif';
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    z-index: 99999999999999;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > div > button {
    display: none;
    position: relative;
    width: 30px;
    height: 16px;
    border: none;
    background: none;
}

header > div > button > span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: 0.5s;
}

header > div > button > span:nth-of-type(1) {
    top: 0%;
}

header > div > button > span:nth-of-type(2) {
    top: 50%;
}

header > div > button > span:nth-of-type(3) {
    top: 100%;
}

header > div > button.active > span:nth-of-type(1) {
    top: 50%;
    transform: rotate(45deg);
}

header > div > button.active > span:nth-of-type(2) {
    top: 50%;
    opacity: 0;
}

header > div > button.active > span:nth-of-type(3) {
    top: 50%;
    transform: rotate(-45deg);
}


header > .nav {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 100%;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-weight: bold;
}

header > .nav > li {
    padding: 0 44px;
    position: relative;
}

header > .nav > li > a {
    color: black;
}

header > .nav > li > ul > li > a {
    color: black;
}


header > .nav > li > a + ul {
    position: absolute;
    visibility: hidden;
}


header > .nav > li:hover > a {
    color: orange;
    transition: 0.5s;
}

header > .nav:hover > li > ul {
    transform: translate(0, 20px);
    visibility: visible;
    transition: 0.5s;
}

header > .nav > li > ul > li:hover > a {
    color: orange;
}

header > .nav > li > a + ul > li {
    width: 120%;
    margin: 10px 0;
}

/* =============================main================================= */

main {
    width: 100%;
    position: relative;
    padding: 0 160px;
    padding-top: 120px;
}

main .bar {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 0 76px;
    display: flex;
    justify-content: flex-end;
}

main .bar > li {
    margin-left: 15px;
    color: rgb(255, 89, 46);
    font-weight: bold;
    font-size: 18px;
}

main .bar > li > a {
    color: black;
    font-weight: bold;
}

/* ========================bar=========================== */

main .menubar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 100px;
}

main .menubar li {
    margin: 0 auto;
    width: auto;
}

main .menubar li a {
    font-size: 48px;
    font-weight: 700;
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: transparent;
}

main .menubar li:hover a {
    -webkit-text-fill-color: black;
    cursor: default;
}

main .menubar li sup {
    vertical-align: top;
    font-size: 16px;
    color: rgb(173, 173, 173);
    font-weight: bold;
}

main .menubar li:hover sup {
    color: black;
}

/* ==================menubar======================== */

main .menu {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    margin-top: 100px;
    padding: 0 76px;
    padding-bottom: 160px;
}

main .menu li {
    width: calc((100% - 12.9%)/4);
    max-width: 280px;
    margin-left: 4.3%;
    margin-top: 100px;
}

main .menu li:nth-child(1) {
    margin-left: 0;
}

main .menu li:nth-child(5) {
    margin-left: 0;
}

main .menu li:nth-child(9) {
    margin-left: 0;
}

main .menu li:nth-child(13) {
    margin-left: 0;
}

main .menu li > p {
    width: 100%;
}

main .menu li p img {
    width: 100%;
}

main .menu li .name {
    padding-top: 23px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .menu li .name p:nth-child(1) {
    font-weight: bold;
    
}

main .menu li .name p:nth-child(2) {
    text-align: right;
}

/* =====================footer===================== */

footer {
    width: 100%;
    padding: 120px 0;
}

footer .top_ft {
    margin: 0 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .top_ft > p {
    width: 190px;
}

footer .top_ft > p > img {
    width: 100%;
}

footer .top_ft > ul {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: baseline
}

footer .top_ft > ul > li {
    
}

footer .top_ft > ul > li > strong {
    font-size: 18px;
}

footer .top_ft > ul > li > .txt {
    margin-top: 30px;
    font-size: 16px;
}

footer .top_ft > ul > li > .txt > .import > a {
    color: rgb(255, 89, 46);
}

footer .top_ft > ul > li > .txt > .txt_nav {
    margin-top: 16px;
}

footer .top_ft > ul > li > .txt > li > a {
    color: #000;
    transition: 0.5s;
}

footer .bottom_ft {
    margin: 0 auto;
    margin-top: 52px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

footer .bottom_ft .other_site {
    width: 300px;
    padding: 52px 0 30px 0;
    border-bottom: 2px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

footer .bottom_ft .other_site > p:nth-of-type(1) {
    
}

footer .bottom_ft .other_site > p:nth-of-type(2) {
    
}

footer .bottom_ft .other_site > p:nth-of-type(2) > img {
    
}

footer .bottom_ft .info {

}

footer .bottom_ft .info > p {
    padding-top: 52px;
    padding-bottom: 30px;
    font-size: 14px;
    color: rgb(116, 110, 110)
}

footer .bottom_ft .info > p > b {
    color: black;
}

footer .bottom_ft .info .logo_ft {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

footer .bottom_ft .info .logo_ft > li:nth-of-type(1){
    width: 180px;
    padding: 10px 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    text-align: center;
    font-weight: bold;
}

footer .bottom_ft .info .logo_ft > li:nth-of-type(1) > a{
    color: black;
}

footer .bottom_ft .info .logo_ft > li:nth-of-type(1) > a > i {
    vertical-align: top;
}

footer .bottom_ft .info .logo_ft > li:nth-of-type(1) > a > i > img {

}

footer .bottom_ft .info .logo_ft > li:nth-of-type(2){
    width: 180px;
    padding: 10px 20px;
    margin-left: 20px;
    margin-right: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    text-align: center;
    font-weight: bold;
}

footer .bottom_ft .info .logo_ft > li:nth-of-type(2) > a{
    color: black;
}

footer .bottom_ft .info .logo_ft > li:nth-of-type(2) > a > i {

}

footer .bottom_ft .info .logo_ft > li:nth-of-type(2) > a > i > img {

}

footer .bottom_ft .info .logo_ft > li:nth-of-type(3){
    width: 100px;
    height: 100px;
}

footer .bottom_ft .info .logo_ft > li:nth-of-type(3) > a {
    
}

footer .bottom_ft .info .logo_ft > li:nth-of-type(3) a > img {
    width: 100%;
}